
    <table>
        <tr>
            <button id="butt1" (mouseover)="onMouseOver(1)"><div class="inButton">.<br>.<br>.</div></button>           
        </tr>
        <tr>
            <button id="butt2" (mouseover)="onMouseOver(2)"><div class="inButton">.<br>.<br>.</div></button>
        </tr>
        <tr>
            <button id="butt3" (mouseover)="onMouseOver(3)"><div class="inButton">.<br>.<br>.</div></button>
        </tr>
        <tr>
            <button id="butt4" (mouseover)="onMouseOver(4)"><div class="inButton">.<br>.<br>.</div></button>
        </tr>
    </table>


<!--<div (mouseover)="onMouseOverLeft()" id="leftBar" class="closedBar"><div class="separator"></div>.<br>.<br>.
-->

<div (mouseover)="onMouseOverRight()" class="invisibleBarHider">

</div>