.closedBar{
    background: darkgray;
    border-style: solid;
    border-color: darkgray;
    
    width:1%;
    height: 100%;
    top:0px;
    text-align: center;    
    text-shadow: black;
  
    position: fixed;
    z-index: 1;
    color:gray;
    font-size: 25px;
    cursor: default;
}

table{
    height: 100%;
    width: 100%;
    font-size: 25px;
    cursor: default;
    color:gray;
    text-shadow: black;
    text-align: center;
}
tr{
    height: 25%;
}
.invisibleBarHider{
    height: 100%;
    width: 10%;
    left: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 0px;
   
    right: 0;
  }
  .menu{
      background-color: darkgray;
      width: 50%;
      height: 100%;
      
  }
  button{
      height: 100%;
      width: 98%;
      border-radius: 0px;
      border-width: 3px;
      border-color: gray;
      background-color: darkgray;
      font-size: 25px;
      writing-mode: vertical-lr;
      text-orientation: upright;
      color: gray;
  }