<div class="menu" id="menu">
    <table>
        <tr>
            <button>butt1</button>
            <td><div class="separator"></div>.<br>.<br>.</td>
        </tr>
        <tr>
            <button>butt2<div>ssss</div></button>
        </tr>
        <tr>
            <button>butt3</button>
        </tr>
        <tr>
            <button>butt4</button>
        </tr>
    </table>
</div>

<div (mouseover)="onMouseOverLeft()" id="leftBar" class="closedBar"><div class="separator"></div>.<br>.<br>.

</div>
<div (mouseover)="onMouseOverRight()" class="invisibleBarHider">

</div>