<!--button icons-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<table *ngIf="getLoggedAs()=='ADMIN' || getLoggedAs()=='EMPLOYEE'" mat-table #table [dataSource]="getHouses()" class="mat-elevation-z8">
    <ng-container matColumnDef="no.">
        <th mat-header-cell *matHeaderCellDef> no. </th>
        <td mat-cell *matCellDef="let row, let i = index"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> city </th>
        <td mat-cell *matCellDef="let row"> {{row.city}} </td>
    </ng-container>
    <ng-container matColumnDef="postcode">
        <th mat-header-cell *matHeaderCellDef> post code </th>
        <td mat-cell *matCellDef="let row"> {{row.postcode}} </td>
    </ng-container>
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> address </th>
        <td mat-cell *matCellDef="let row"> {{row.address}} </td>
    </ng-container>
    <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef> owner </th>
        <td mat-cell *matCellDef="let row"> {{getName(row.userId)}} </td>
    </ng-container>
    

    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> options </th>
        <td mat-cell *matCellDef="let row">
            <div class="options" fxLayout="row" fxLayoutAlign="end none">

                <button (click)="openEditDialog(row.id)">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">
                        <i class="fa fa-home"></i><i class="fa fa-wrench"></i>
                    </div>
                </button>
                <button *ngIf="getLoggedAs()=='ADMIN'" class="danger" (click)="openConfirmationDialog(row.id)">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">
                        <i class="fa fa-home"></i><i class="fa fa-times"></i>
                    </div>
                </button>
            </div>
        </td>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
</table>