<div [formGroup]="getInputForm()" class="form group" style="text-align: right;" *ngIf="!getLogged()" class="login"
    (ngSubmit)="signIn()">
    
    <mat-form-field appearance="outline"> 
    <input matInput type="text" id="username" placeholder="username"  formControlName="username" required>
    <mat-error *ngIf="!getInputForm().get('username').valid">wrong username</mat-error>
    

</mat-form-field>
    <br>
    <mat-form-field appearance="outline">
    <input matInput type="password" id="password" placeholder="password"  (keydown)="capsFunction($event)"
        required formControlName="password">
    <mat-error *ngIf="!getInputForm().get('password').valid">wrong password</mat-error>
    </mat-form-field>
    <br>

    <button class="signUp" (click)="signUp()">Sign up </button>

    <button *ngIf="!getInputForm().valid" class="disabled" id="signInButton"  [disabled]="!getInputForm().valid" (click)="signIn()">Sign in </button>
    <button *ngIf="getInputForm().valid" class="enabled" id="signInButton"  [disabled]="!getInputForm().valid" (click)="signIn()">Sign in </button>

    <div class="warn">{{this.getLoginWarn()}}
    </div>
    
    <div class="warn">{{this.getCapsWarn()}}

    </div>
</div>



<div style="text-align: right;" *ngIf="getLogged()">
    Signed in <button class="signOut" (click)="signOut()">Sign out</button>


</div>