table{
    min-width: 120%;
    
    
}
.left{
    text-align: right;
    
}
.right{
    text-align:left;
}
td{
    min-width: 50%;
    margin-top: 0px;
}
h4{
    line-height: 80%;
}
.noHome{
    color: darkred;
}
