@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

button {
    
    border-style: solid;    
    border-color: white;
    border-width: 2px;
    color: white;
    padding: 11px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;  
  }

  .danger:hover{
    border-color: darkred;
    
}

  button:hover{
    border-color: rgb(74, 20, 140);
  }

  .mat-radio-button{
    margin-left: 10px;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(74, 20, 140);
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color:  rgb(74, 20, 140);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgb(74, 20, 140, .26)
}
