<div class ="split right">
  <app-login></app-login>
  <footer style="vertical-align: bottom" style="text-align: right;">
    <p>
      {{date | date:'longDate'}}
    </p>
  </footer>
</div>
<div class="split left">

</div>
<div class="splitted middle">
  <div class="centered">
    <h1>
      Hello world!
    </h1>
    <h2>
      app name: {{title}}
  
        app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2>
    <h1>
      Hello world!
    </h1>
    <h2>
      app name: {{title}}
  
        app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h1>
      Hello world!
    </h1>
    <h2>
      app name: {{title}}
  
        app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h1>
      Hello world!
    </h1>
    <h2>
      app name: {{title}}
  
        app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h1>
      Hello world!
    </h1>
    <h2>
      app name: {{title}}
  
        app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h1>
      Hello world!
    </h1>
    <h2>
      app name: {{title}}
  
        app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h1>
      Hello world!
    </h1>
    <h2>
      app name: {{title}}
  
        app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2><h2>
      app name: {{title}}
    </h2>
   
  </div>
</div>



