div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray
}

footer{
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray
}

.split {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 0px;
}
  
.splitted {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0px;
    overflow-y: scroll;
    
}
  
.left {
    left: 0;
    background-color: whitesmoke;
    overflow: hidden;
}
  
.right{
      right: 0;
      background-color: whitesmoke;
      overflow: hidden;
}
  
.middle{      
    left: 20%
}
 
h1{
    text-align: center;
    color: gray;
}
  
.pets{       
    width: 100%;
}