.radios{
    transform: translateX(-8%);
}
.mat-form-field{
    width: 100%;
}

form{
    overflow-x: hidden;
    overflow-y: auto;
}
.enabled{
    cursor: pointer;
    background-color: rgb(69, 39, 160);
  }
  .disabled{
    cursor: auto;
    background-color: gray;
  }
  .disabled:hover{
    border-color: white;
  }
  button{
    background-color: rgb(69, 39, 160);
    cursor: pointer;
   
}
label{
  text-align: left;
  color: gray;
}