.login{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    height: 100%
}
button {
    
    border-style: solid;    
    color: white;
    min-width: 41%;
    max-width: max-content;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;  
    min-height: 5%;
    max-height: fit-content;
  }
  .enabled{
    cursor: pointer;
    background-color: gray
  }
  .disabled{
    cursor: auto;
    background-color: lightgray;
  }
  .signUp{
    cursor: pointer;
    background-color: gray
  }
  .signOut{
    cursor: pointer;
    background-color: gray
  }
form{
  height:100%;
}
  input[type=text] {
    border: 2px solid gray;
    margin-top: 2px;
    
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;     
    width: 80%;
    height: 4%;
  }
  input[type=password] {
    border: 2px solid gray;
    
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%; 
    width:80%;  
    height: 4%;
  }
.warn{
  color: darkred;
  font-size: 80%;
  min-height: 0px;
  max-height: 0px;
}

.wrong{
  
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: solid;
  
}
.good{
  
  text-decoration: none;
}

  