<div [formGroup]="getInputForm()" class="form group" style="text-align: right;" *ngIf="!getLogged()" class="login"
    (ngSubmit)="signIn()">
    
    
    <input type="text" id="username" class="username" placeholder="username" (keydown)="errorTextField('username')" formControlName="username" required>
    <br>
    <input type="password" id="password" class="password" placeholder="password" (keydown)="errorTextField('password')" (keydown)="capsFunction($event)"
        required formControlName="password">
    <br>

    <button class="signUp" (click)="signUp()">Sign up </button>

    <button *ngIf="!getInputForm().valid" class="disabled" id="signInButton"  [disabled]="!getInputForm().valid" (click)="signIn()">Sign in </button>
    <button *ngIf="getInputForm().valid" class="enabled" id="signInButton"  [disabled]="!getInputForm().valid" (click)="signIn()">Sign in </button>

    <div class="warn">{{this.getLoginWarn()}}
    </div>
    
    <div class="warn">{{this.getCapsWarn()}}

    </div>
</div>



<div style="text-align: right;" *ngIf="getLogged()">
    Signed in <button class="signOut" (click)="signOut()">Sign out</button>


</div>