<div style="text-align: right;" *ngIf="!logged" class="warning">

   <input #login type="text" placeholder="username" (keydown)="keyDownFunction($event)">
   

    

    <br>
    
   <input #password type="password" placeholder="password" (keydown)="keyDownFunction($event)">
   

    

    <br>
    <button (click)="signUp()">Sign up </button>
    <button id="signInButton" (click)="signIn(login.value, password.value)">Sign in </button>
    <div class="warn">{{this.loginWarn}}</div>

</div>
<div style="text-align: right;" *ngIf="logged">
    Signed in <button (click)="signOut()">Sign out</button>


</div>