.radios{
    transform: translateX(-8%);
}
.danger{
    background-color: darkred;
}
.post{
    position: static;
    transform: translateX(25%);
}
.petTab{
    transform: translateX(18%);
}
.addPet{
    min-width: 90%;
}
.add{
    position: static;
    right: 0;
    top: 1%;
}
.left{
    text-align: right;
    
}
.right{
    text-align:left;
}
td{
    
    margin-top: 0px;
}
h4{
    line-height: 80%;
}
.noHome{
    color: darkred;
}
button{
    background-color: gray;
    cursor: pointer;
}
