
.labels{
    color: darkgray
}

.add{
    position: absolute;
    right: 0;
    top: 2%;
}

h4{
    line-height: 50%;
}

.noHome{
    color: darkred;
}

button {    
    background: none;
    border-style: solid;    
    border-color: gray;
    border-width: 2px;
    color: gray;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;  
    cursor: pointer;
}
 
button:hover{
    border-color: rgb(69, 39, 160);
    color: rgb(69, 39, 160);
}
  
.danger:hover{
    border-color: darkred;
    color: darkred;
  }
