
.labels{
    color: darkgray
}

.add{
    position: absolute;
    right: 0;
    top: 2%;
}

h4{
    line-height: 50%;
}
.noHome{
    color: darkred;
}
button{
    background-color: gray;
    cursor: pointer;
}
