
<button (click)="openAddDialog()" *ngIf="getLoggedAs()==getAdmin() || getLoggedAs()==getEmployee()" class="add">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">
        <i class="fa fa-paw"></i><i class="fa fa-plus"></i>
    </div>
</button>

<div class="array" *ngFor="let pet of this.getPets()">
    
    <mat-divider></mat-divider>
    <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="stretch end" fxFlex="50%" fxFlexFill class="labels">


            <div>
                <h4>
                    name:&nbsp;
                </h4>
            </div>

            <div>
                <h4>
                    age:&nbsp;
                </h4>
            </div>

            <div>
                <h4>
                    race:&nbsp;
                </h4>
            </div>

            <div>
                <h4>
                    sex:&nbsp;
                </h4>
            </div>

            <div>
                <h4>
                    sterilized:&nbsp;
                </h4>
            </div>

            <div>
                <h4>
                    home:&nbsp;
                </h4>
            </div>

        </div>
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50%" fxFlexFill>
            <div class>
                <h4>
                    {{pet.name}}
                </h4>
            </div>


            <div>
                <h4>
                    {{pet.age}} month<ng-template [ngIf]="pet.age!=1">s</ng-template>
                </h4>
            </div>


            <div>
                <h4>
                    {{pet.race}}
                </h4>
            </div>


            <div>
                <h4>
                    {{pet.sex | lowercase}}
                </h4>
            </div>



            <div>
                <h4 *ngIf="pet.sterilized">
                    yes
                </h4>
                <h4 *ngIf="!pet.sterilized">
                    no
                </h4>
            </div>

            <div>
                <h4>
                    <div *ngIf="!pet.adopted">
                        <ng-template [ngIf]="compareDates(pet.adoptDate, pet.tmpAdoptForDays, getCurrentDate())">
                            until {{addDays(pet.adoptDate, pet.tmpAdoptForDays) | date:'longDate'}}
                        </ng-template>
                        <ng-template [ngIf]="!compareDates(pet.adoptDate, pet.tmpAdoptForDays, getCurrentDate())">
                            <div class="noHome">no...</div>
                        </ng-template>

                    </div>
                    <div *ngIf="pet.adopted">
                        I've found a new home!
                    </div>
                </h4>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="2px">


        <button *ngIf="getLoggedAs()==getAdmin() || getLoggedAs()==getEmployee()" (click)="openAssignDialog(pet.id)">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">
                <i class="fa fa-mail-forward"></i><i class="fa fa-home"></i>
            </div>
        </button>

        <button *ngIf="getLoggedAs()==getAdmin() || getLoggedAs()==getEmployee()" (click)="openEditDialog(pet.id)">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">
                <i class="fa fa-paw"></i><i class="fa fa-wrench"></i>
            </div>
        </button>
        

            <button *ngIf="getLoggedAs()==getAdmin()" class="danger" (click)="openConfirmationDialog(pet.id)">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">
                    <i class="fa fa-paw"></i><i class="fa fa-times"></i>
                </div>
            </button>

        
    </div>
</div>